<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="path/to/chartjs/dist/Chart.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
    </script>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1"><p>
            <div class="header">
                <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                    <a class="pure-menu-heading" href="">Alvin's HW1</a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="{{ url_for("homepage") }}" class="pure-menu-link">Home</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Placeholder for future</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Placeholder for future</a></li>
                    </ul>
                </div>
            </div>
        </p>
        </div>
        <br>
        <br>
        <div class = "pure-u-1-2">
            <table>
                <thead>
                    <tr>
                        <th>#Entry</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age group</th>
                        <th>Awesome indicator</th>
                        <th>Extra information shared</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            {% for item in row %}
                

  
                
            {% endfor %}
            </table>
        </div>
        <canvas id="chart" width="400" height="400"></canvas>
        <canvas id="myChart"></canvas>
        <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
        </canvas>

    </div>
    
</body>
</html>