<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include PureCSS-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <meta charset="UTF-8">
    <title>Online Calculator</title>
  
</head>


<body>
    <div class="pure-g">
        <div class="pure-u-1-12">
            <!--Blank space for tidyness-->
        </div>
        <div class="pure-u-1-2">
            <div class="calculator-container">
                <div class="output-box">
                    <br>
                    <div class="entered-numbers" id="entered-numbers">0</div>
                </div>
                <div class="button-container">
                    <div class="button-row">
                         <!--Symbols referenced from https://www.toptal.com/designers/htmlarrows/math/-->
                        <button class="clear-button" data-action="clear" >AC</button>
                        <button class="operator" data-action="negate">&#177;</button>  <!-- +/- symbol -->
                        <button class="operator" data-action="divide" >&#247;</button>  <!-- / symbol -->
                    </div>
                    <div class="button-row">
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                        <button class="operator" data-action="multiply" >&#215;</button>  <!-- * symbol -->
                    </div>
                    <div class="button-row">
                        <button>4</button>
                        <button>5</button>
                        <button>6</button>
                        <button class="operator" data-action="subtract">&#8722;</button>  <!-- - symbol -->
                    </div>
                    <div class="button-row">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button class="operator" data-action="add">&#43;</button>    <!-- + symbol -->
                    </div>
                    <div class="button-row">
                        <button>0</button>
                        <button data-action="decimal">.</button>
                        <button class="operator" data-action="prev-answer">Ans</button>
                        <button id="equalsbutton" class="equals" data-action="equals"> = </button>
                    </div>
                </div>
            </div>
            <br>
            <h3>Calculator logs</h3>
            <div id="logs" class="logs">
                    
            </div>
        </div>
        <div class="pure-u-5-12">
            <div class="log-container">
                <div class="calculation-logs">
                    <!-- Originally wanted to put logs at the right side, would look nicer. Email specified for logs to be below calculator-->
                </div>
            </div>
        </div>


    </div>

    <script language="javascript" type="text/javascript" src="static/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
    <script type="text/javascript" src="static/reconnecting-websocket.min.js"></script> 

</body>



</html>